<!DOCTYPE html>

<html>
<head></head>
<body>
<h1>Books</h1>

<% @books.each do |book| %>

<table>
  <thread>
    <tr>
<th>Title</th>
<th>Body</th>
<th colspan=""></th>
</tr>
</thread>
<tbody>
  <tr>>
  <td><span><%= book.title %></span></td>
  <td><span><%= book.body %></span></td>
  <td><span><%= link_to "Show", "/books/#{book.id}" %></span></td>
  <td><span><%= link_to "Edit", "/books/#{book.id}/edit" %></span></td>
  <td><span><%= link_to "Destroy", "/books/#{book.id}/destroy" %></span></td>
<% end %>
</tbody>
</table>


<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
<h5>title</h5>
<%= f.text_field :title %>

<h5>body</h5>
<%= f.text_area :body %>

<%= f.submit 'create book' %>
<% end %>
</body>
</html>