<html>
  <head>
    
  </head>
  
  <body>
     <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <p><strong>Title:</strong><%= @book.title %></p>
    
    <p><strong>Body:</strong><%= @book.body %></p>
    
    <a class="edit"><%= link_to "Edit", "/books/#{@book.id}/edit" %></a>
    |
    <a class="Back"><%= link_to "Back", "https://379991ad25cd42d4a8ac42e2dc0fe887.vfs.cloud9.us-east-1.amazonaws.com/books" %></a>
    
    <style>
    body {
      margin: 33px;
      font-size: 13px;
      line-height: 18px;
    }
    
    p {
      margin: 33px;
    }
    
    #notice {
      color: green;
    }
    </style>
    
  </body>
</html>